.top {
    width: 500px;
    margin: 100px auto;
}

.registerLink {
    text-align: right;
}
.topTable {
    margin: 10px;
}

.form-control {
    margin-top: 10px;
}

button.btn.btn-secondary {
    margin-top: 10px;
    background-color: #3399ff;
}
